.header {
	position: absolute;
	top: 0;
	left: 0;
	height: 75px;
	width: 100vw;
	background-color: #1b1b1b;
	color: white;
	font-weight: 500;
	font-family: monospace;
	display: flex;
	justify-content: flex-start;
	flex-direction: row; 
	align-items: center;
}

h1 {
	color: white;
	padding-left: 30px;
}

.spacer {
	flex: 1;
}

button {
	background-color: #1b1b1b;
	color: white;
	font-family: monospace;
	margin-right: 20px;
}


